@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

#component{
    width: 48%;
    margin: 0 auto; 
    background: white; 
    color: black; 
    overflow: hidden;
    position: relative;
    padding:5%;
    border: 1px solid grey;
    -webkit-box-shadow: 2px 4px 2px #2e2e2e;
            box-shadow: 2px 4px 2px #2e2e2e;
    -webkit-animation: fadein 3s;
            animation: fadein 3s;
}

    #component2{
           -webkit-animation: fadeInLeft 2s;
                   animation: fadeInLeft 2s;

    }
    #component3{
        -webkit-animation: fadeInLeft 3s;
                animation: fadeInLeft 3s;

    }
    #component4{
        -webkit-animation: fadeInLeft 4s;
                animation: fadeInLeft 4s;

    }
  body{
      background: rgb(86, 116, 250);
  }
  img{
      width: 100%;
  }
  input{
      margin:0 auto;
      color: white; 
      background-color:grey; 

  }
  form{
      border: 1px solid black;
      padding:5%;
  }
